{
    "extends": ["airbnb/base"],
    "env": {
      "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
      "no-param-reassign": "off",
      "prefer-destructuring": "off",
      "linebreak-style": "off",
      "class-methods-use-this": "off",
      "prefer-rest-params": "off",
      "prefer-default-export": "off"
    }
}
