{
    "extends": ["airbnb/base"],
    "env": {
      "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
      "no-param-reassign": "off",
      "prefer-destructuring": "off",
    }
}
