.age-deck {
  @include size(30rem, 20rem);
  background-size: cover;
  border-radius: 1rem;
  filter: brightness(0.6);
  flex-shrink: 0;
  font-size: 5rem;
  margin: 0.5rem;
  text-align: center;

  &--active {
    cursor: pointer;
    filter: brightness(1) drop-shadow(0 0 0.7rem rgb(255, 166, 0));
    transition: all 0.2s linear;
    z-index: 2;

    &:hover {
      transform: scale(1.02);
    }

    .current-deck__cards & {
      box-shadow: none;
    }
  }
}
