.age-deck {
  @include size(30rem, 20rem);
  background-size: cover;
  border-radius: 1rem;
  filter: brightness(0.6);
  flex-shrink: 0;
  font-size: 5rem;
  margin: 0.5rem;
  text-align: center;
}

.age-deck--active {
  box-shadow: 0 0 1.3rem 1rem rgba(252, 177, 3, 1);
  cursor: pointer;
  filter: brightness(1);
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.02);
  }

  .current-deck__cards & {
    box-shadow: none;
  }
}
