.example_cards {
  display: flex;
  flex-wrap: wrap;
}

b {
  font-weight: 600;
}

.card {
  background-size: cover !important;
  border-radius: 1rem;
  flex-shrink: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 20rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  transition: all 2s;
  width: 30rem;

  .card__card-header {
    box-shadow: 0 0 0.3rem 0.2rem rgb(41, 37, 37);
    display: flex;
    height: 3rem;
    position: relative;
    z-index: 0;

    .card__topLeft {
      align-items: center;
      background: #fff;
      border-radius: 5rem;
      display: flex;
      font-size: 3rem;
      font-weight: 70rem;
      height: 6rem;
      justify-content: center;
      margin-left: -1rem;
      margin-top: -1rem;
      padding-left: 0.3rem;
      padding-top: 0.7rem;
      text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
      width: 6rem;
    }

    .card-header__title {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 60rem;
      padding: 0.5rem;
      text-align: right;
      text-shadow: 0.1rem 0.1rem #000;
      text-transform: uppercase;
      width: calc(100% - 6rem);
    }
  }

  .card__card-main {
    color: #fff;
    font-size: 1.3rem;
    height: calc(100% - 3rem);
    line-height: 1.3;
    margin-left: calc(100% - 22.7rem);
    padding: 0.5rem;
    z-index: 1;

    .age__number {
      background: #000;
      border: 0.1rem solid #fff;
      padding: 0 0.3rem;
    }

    .resourse__icon {
      background: #000;
      border: 0.1rem solid #fff;
      border-radius: 5rem;
      font-size: 1.1rem;
      padding: 0.3rem;
    }

    .card__icon {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    .card__dogma {
      display: flex;

      &:hover {
        cursor: pointer;
      }

      .dogma__effect {
        align-self: center;
      }
    }

    .card__dogma[data-dogmatype='corporate'] {
      .card__icon::before {
        align-items: center;
        background-image: url('../../assets/img/cards-bg/corporate.png');
        background-size: 3rem 3rem;
        display: inline-flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;
      }
    }

    .card__dogma[data-dogmatype='aggressive'] {
      .card__icon::before {
        align-items: center;
        background-image: url('../../assets/img/cards-bg/aggressive.png');
        background-size: 3rem 3rem;
        display: inline-flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;
      }
    }
  }

  .card__card-footer {
    display: flex;
    justify-content: space-between;
    left: -0.7rem;
    position: absolute;
    top: 15.5rem;
    width: 104%;

    .card__bottomLeft,
    .card__bottomCenter,
    .card__bottomRight {
      align-items: center;
      background: #fff;
      border-radius: 5rem;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      height: 6rem;
      justify-content: center;
      padding-bottom: 1.2rem;
      text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
      width: 6rem;
    }
  }
}

.card__color--blue {
  background: rgb(62, 49, 136) !important;
  color: #fff;
}

.card__color--blue-transparent {
  background: rgba(34, 23, 94, 0.8) !important;
}

.card__color--red {
  background: rgb(197, 6, 16) !important;
  color: #fff;
}

.card__color--red-transparent {
  background: rgba(129, 4, 10, 0.8) !important;
}

.card__color--green {
  background: rgb(7, 148, 7) !important;
  color: #fff;
}

.card__color--green-transparent {
  background: rgba(4, 92, 4, 0.8) !important;
}

.card__color--purple {
  background: rgb(131, 6, 120) !important;
  color: #fff;
}

.card__color--purple-transparent {
  background: rgba(88, 5, 81, 0.8) !important;
}

.card__color--yellow {
  background: rgb(221, 162, 0) !important;
  color: #fff;
}

.card__color--yellow-transparent {
  background: rgba(192, 125, 0, 0.8) !important;
}

.card__icon-color--green {
  color: rgb(9, 189, 48);
}

.card__icon-color--purple {
  color: rgb(172, 12, 150);
}

.card__icon-color--grey {
  color: rgb(143, 143, 143);
}

.card__icon-color--yellow {
  color: rgb(250, 192, 3);
}

.card__icon-color--red {
  color: rgb(197, 6, 16);
}

.card__icon-color--blue {
  color: rgb(62, 49, 136);
}

.card__icon-border--blue {
  border: 0.2rem solid rgb(62, 49, 136) !important;
  box-shadow: 0 0.1rem 0.3rem #000 !important;
}

.card__icon-border--red {
  border: 0.2rem solid rgb(197, 6, 16) !important;
  box-shadow: 0 0.1rem 0.3rem #000 !important;
}

.card__icon-border--green {
  border: 0.2rem solid rgb(9, 189, 48) !important;
  box-shadow: 0 0.1rem 0.3rem #000 !important;
}

.card__icon-border--purple {
  border: 0.2rem solid rgb(131, 6, 120) !important;
  box-shadow: 0 0.1rem 0.3rem #000 !important;
}

.card__icon-border--yellow {
  border: 0.2rem solid rgb(221, 162, 0) !important;
  box-shadow: 0 0.1rem 0.3rem #000 !important;
}

.card__age--border {
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
}
