.card {
  @include size(30rem, 20rem);
  @include flex(column, center, center);
  margin: 1rem 1rem 1rem 0;
}

.card--military {
  background-color: rgb(156, 35, 35);
}

.card--culture {
  background-color: rgb(110, 11, 110);
}
