.example_cards {
  display: flex;
  flex-wrap: wrap;
}

b {
  font-weight: 600;
}

.card {
  background-size: cover !important;
  border-radius: 10px;
  flex-shrink: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: all 2s;
  width: 300px;

  .card__card-header {
    box-shadow: 0 0 3px 2px rgb(41, 37, 37);
    display: flex;
    height: 30px;
    position: relative;
    z-index: 2;

    .card__topLeft {
      align-items: center;
      background: #fff;
      border-radius: 50px;
      display: flex;
      font-size: 30px;
      font-weight: 700;
      height: 60px;
      justify-content: center;
      margin-left: -10px;
      margin-top: -10px;
      padding-left: 3px;
      padding-top: 7px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
      width: 60px;
    }

    .card-header__title {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 5px;
      text-align: right;
      text-shadow: 1px 1px #000;
      text-transform: uppercase;
      width: calc(100% - 60px);
    }
  }

  .card__card-main {
    color: #fff;
    font-size: 13px;
    height: calc(100% - 30px);
    line-height: 1.3;
    margin-left: calc(100% - 227px);
    padding: 5px;
    z-index: 1;

    .age__number {
      background: #000;
      border: 1px solid #fff;
      padding: 0 3px;
    }

    .resourse__icon {
      background: #000;
      border: 1px solid #fff;
      border-radius: 50px;
      font-size: 11px;
      padding: 3px;
    }

    .card__icon {
      font-size: 12px;
      margin-right: 5px;
    }

    .card__dogma {
      display: flex;

      &:hover {
        cursor: pointer;
      }

      .dogma__effect {
        align-self: center;
      }
    }

    .card__dogma[data-dogmatype='corporate'] {
      .card__icon::before {
        align-items: center;
        background-image: url('../../assets/img/cards-bg/corporate.png');
        background-size: 30px 30px;
        display: inline-flex;
        height: 30px;
        justify-content: center;
        width: 30px;
      }
    }

    .card__dogma[data-dogmatype='aggressive'] {
      .card__icon::before {
        align-items: center;
        background-image: url('../../assets/img/cards-bg/aggressive.png');
        background-size: 30px 30px;
        display: inline-flex;
        height: 30px;
        justify-content: center;
        width: 30px;
      }
    }
  }

  .card__card-footer {
    display: flex;
    justify-content: space-between;
    left: -7px;
    position: absolute;
    top: 155px;
    width: 104%;

    .card__bottomLeft,
    .card__bottomCenter,
    .card__bottomRight {
      align-items: center;
      background: #fff;
      border-radius: 50px;
      display: flex;
      font-size: 30px;
      font-weight: 700;
      height: 60px;
      justify-content: center;
      padding-bottom: 12px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
      width: 60px;
    }
  }
}

.card__color--blue {
  background: rgb(62, 49, 136) !important;
  color: #fff;
}

.card__color--blue-transparent {
  background: rgba(34, 23, 94, 0.8) !important;
}

.card__color--red {
  background: rgb(197, 6, 16) !important;
  color: #fff;
}

.card__color--red-transparent {
  background: rgba(129, 4, 10, 0.8) !important;
}

.card__color--green {
  background: rgb(7, 148, 7) !important;
  color: #fff;
}

.card__color--green-transparent {
  background: rgba(4, 92, 4, 0.8) !important;
}

.card__color--purple {
  background: rgb(131, 6, 120) !important;
  color: #fff;
}

.card__color--purple-transparent {
  background: rgba(88, 5, 81, 0.8) !important;
}

.card__color--yellow {
  background: rgb(221, 162, 0) !important;
  color: #fff;
}

.card__color--yellow-transparent {
  background: rgba(192, 125, 0, 0.8) !important;
}

.card__icon-color--green {
  color: rgb(9, 189, 48);
}

.card__icon-color--purple {
  color: rgb(172, 12, 150);
}

.card__icon-color--grey {
  color: rgb(143, 143, 143);
}

.card__icon-color--yellow {
  color: rgb(250, 192, 3);
}

.card__icon-color--red {
  color: rgb(197, 6, 16);
}

.card__icon-color--blue {
  color: rgb(62, 49, 136);
}

.card__icon-border--blue {
  border: 2px solid rgb(62, 49, 136) !important;
  box-shadow: 0 1px 3px #000 !important;
}

.card__icon-border--red {
  border: 2px solid rgb(197, 6, 16) !important;
  box-shadow: 0 1px 3px #000 !important;
}

.card__icon-border--green {
  border: 2px solid rgb(9, 189, 48) !important;
  box-shadow: 0 1px 3px #000 !important;
}

.card__icon-border--purple {
  border: 2px solid rgb(131, 6, 120) !important;
  box-shadow: 0 1px 3px #000 !important;
}

.card__icon-border--yellow {
  border: 2px solid rgb(221, 162, 0) !important;
  box-shadow: 0 1px 3px #000 !important;
}

.card__age--border {
  border: 1px solid #fff;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
}
