.close-modal-btn {
  @include size(15rem, 5rem);
  background: rgba(59, 17, 5, 1);
  border: solid 0.1rem #ee8823;
  border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5),
    2px 0 3px 1px rgba(0, 0, 0, 0.5);
  color: rgb(226, 226, 226);
  font-size: 2rem;
  margin: 1rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  transition: 0.3s linear;

  &:hover {
    font-size: 2.5rem;
  }

  &::before {
    @include button-gear;
    @include size(5rem, 5rem);
    left: -1rem;
    top: 1.7rem;
  }

  &::after {
    @include button-gear;
    @include size(5rem, 5rem);
    bottom: 1.7rem;
    right: -1rem;
  }
}
