.header-hover__block {
  @include flex(column, center, center);
  position: absolute;
  top: 17rem;
  z-index: 15;

  &__hidden {
    visibility: hidden;
  }
}

.header-hover__overlay {
  @include block-background-overlay;
  width: 96%;
  z-index: 16;
}

.header-hover__wrapper {
  @include flex(column, center, center);
  @include area-border('../../assets/img/border-modal.png');
  background: linear-gradient(
    90deg,
    rgba(33, 14, 6, 1) 0%,
    rgba(77, 35, 12, 1) 50%,
    rgba(33, 14, 6, 1) 100%
  );
  border-image-width: 6rem;
  border-radius: 7rem;
  flex-wrap: nowrap;
  position: relative;
  z-index: 17;
}

.header-hover__card-container {
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}
