.header-hover__block {
  @include flex(column, center, center);
  @include size(50rem, 50rem);
  background: linear-gradient(
    90deg,
    rgba(33, 14, 6, 1) 0%,
    rgba(77, 35, 12, 1) 50%,
    rgba(33, 14, 6, 1) 100%
  );
  border-radius: 7rem;
  box-shadow: 0 0 8px 8px rgba(86, 54, 5, 0.7) inset,
    0 0 8px 8px rgba(86, 54, 5, 0.3);
  top: 17rem;
  position: absolute;
  z-index: 15;

  &__hidden {
    visibility: hidden;
  }
}

.header-hover__overlay {
  @include block-background-overlay;
  width: 96%;
  z-index: 16;
}

.header-hover__wrapper {
  @include flex(column, space-around, center);
  @include size(100%, 100%);
  @include area-border('../../assets/img/border-modal.png');
  border-image-width: 6rem;
  position: relative;
  z-index: 17;
}
