.intro {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 6;

  .intro__container {
    @include size(690px, 592px);

    .intro__top {
      @include size(690px, 592px);
      background: url('../../assets/img/intro/top.png');
      position: absolute;
    }

    .intro__center {
      @include size(690px, 592px);
      background: url('../../assets/img/intro/center.png');
      position: absolute;
      animation: close 5s ease-in-out 15s forwards;
      display: flex;
      justify-content: center;
      align-items: center;

      @keyframes close {
        100% {
          width: 0;
        }
      }

      .center__title {
        background: url('../../assets/img/intro/title.svg') center no-repeat;
        @include size(500px, 120px);
        animation: show-title 0.5s linear 14s forwards,
          close-title 4s ease-in-out 15s forwards;
        opacity: 0;
        position: absolute;

        @keyframes close-title {
          100% {
            width: 0;
          }
        }

        @keyframes show-title {
          100% {
            opacity: 1;
          }
        }
      }

      .letter-1 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 4s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-2 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 5s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-3 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 6s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-4 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 7s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-5 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 8s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-6 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 9s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-7 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 10s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-8 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 11s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-9 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 12s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      .letter-10 {
        filter: url('#mySVGfilter');
        opacity: 0;
        animation: draw-letter 2s ease-in-out 13s forwards,
          hide-letter 0.5s linear 14s forwards;
      }

      @keyframes draw-letter {
        100% {
          opacity: 1;
          filter: none;
        }
      }

      @keyframes hide-letter {
        100% {
          opacity: 0;
        }
      }
    }
  }

  .intro__bottom {
    @include size(690px, 592px);
    background: url('../../assets/img/intro/bottom.png');
    position: absolute;
    filter: drop-shadow(-2px 0px 5px #000);
  }
}
