.menu {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50%;
  margin: auto;
  position: absolute;
  text-align: center;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
}

.menu__link {
  color: #53b1e7;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1;
  padding: 14px 0;
  position: relative;
  text-decoration: none;
}

.menu__link svg {
  fill: none;
  left: 50%;
  opacity: 0;
  position: absolute;
  stroke: #70aec9;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  width: calc(100% + 60px);
  z-index: -1;
}

.menu__link--active svg {
  stroke: #ff4c4c;
}

.menu__link:active svg {
  stroke: #ff4c4c;
}

.menu__link--active svg,
.menu__link:hover svg {
  opacity: 1;
  stroke-dashoffset: 0;
  transition: opacity 0s,
    stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.iframe__wrraper {
  height: 70%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1;
}

.close {
  color: rgb(252, 4, 4);
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -25px;
}

.iframe {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}
