.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50%;
  margin: auto;
  position: absolute;
  text-align: center;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 5;
}

.menu__used {
  animation: show-menu 0.5s linear 0s forwards !important;
}

.menu__link {
  color: #53b1e7;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1;
  padding: 1.4rem 0;
  position: relative;
  text-decoration: none;
}

.menu__link svg {
  fill: none;
  left: 50%;
  opacity: 0;
  position: absolute;
  stroke: #70aec9;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  width: calc(100% + 6rem);
  z-index: -1;
}

.menu__link--active svg {
  stroke: #ff4c4c;
}

.menu__link:active svg {
  stroke: #ff4c4c;
}

.menu__link--active svg,
.menu__link:hover svg {
  opacity: 1;
  stroke-dashoffset: 0;
  transition: opacity 0s,
    stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.iframe__wrraper {
  height: 70%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 1;
}

.close {
  color: rgb(252, 4, 4);
  cursor: pointer;
  position: absolute;
  right: -2rem;
  top: -2rem;
}

.iframe {
  height: 100%;
  width: 100%;
}

label {
  color: rgb(245, 222, 179);
}

input[type='text'] {
  display: block;
  margin: 5px auto;
  padding-left: 25px;

  &:valid {
    background-image: url('../../assets/icons/succeess.svg.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    border: rgb(0, 136, 0) solid 3px;
  }

  &:invalid {
    background-image: url('../../assets/icons/unnamed.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    border: rgb(255, 0, 0) solid 3px;
  }
}

.hide {
  display: none;
}
