.modal__turn-step {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../assets/img/intro/bg.png');
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-variant: all-petite-caps;
  height: 240px;
  padding-top: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  z-index: 20;
}

.message {
  font-size: 19px;
  margin-left: 10px;
  margin-right: 10px;
}

.container__message {
  margin-top: 5px;
  max-height: 73px;
  overflow: auto;
  width: 100%;
}

.text__message {
  display: flex;
  margin-bottom: 5px;
  margin-left: 10px;
}

.text__icon {
  cursor: pointer;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 5px;
}

.wrapper__btn {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  position: absolute;
  top: 90%;
  transform: translateY(-90%);
  width: 100%;
}

.modal__turn-step-btn,
.red {
  background-color: rgb(153, 204, 50);
  cursor: pointer;
  height: 40px;
  transition: 0.3s linear;
  width: 150px;

  &:hover {
    border: 0.2rem solid #caebc1;
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.5), 0 0 3px 1px #d1e5c3;
    filter: brightness(1.2);
  }
}

.red {
  background-color: rgb(248, 127, 113);
}
