.aside-wrapper {
  @include flex(column, center, center);
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}
// TEST
.aside-wrapper__decks-block {
  @include size(250px, 400px);
  @include flex(column, flex-start, center);
  background-color: rgb(7, 243, 243);
  overflow: auto;
  padding: 10px;
}
// TEST
.aside-wrapper__deck {
  filter: brightness(0.2);
  flex-shrink: 0;
  @include size(200px, 300px);
  margin-bottom: 10px;
  background-size: cover;
  border: 1px solid #000;
  font-size: 50px;
  text-align: center;
}

.aside-wrapper__deck--active {
  transition: all 0.2s linear;
  filter: brightness(1);
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
