.hand {
  @include flex(row, flex-start, flex-start);
  background: $tables-bg;
  height: 27rem;
  position: relative;
  transition: all 0.5s;
  width: 100%;

  .card {
    margin: 3.5rem;
  }

  .hand__title {
    @include title-settings('../../assets/img/title-hand.png');
    z-index: 15;
  }
}

.hand__overlay {
  @include block-background-overlay;
  width: calc(100% - 6rem);
}

.hand__cards {
  @include flex(row, center, center);
  @include area-border('../../assets/img/border-bottom.png');
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  width: calc(100% - 5rem);
  z-index: 2;

  .card {
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.hand__controls {
  @include area-border('../../assets/img/border-hand-control.png');
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: -0.05rem;
  width: 6.5rem;
  z-index: 1;
}

.hand__controls-svg {
  &--circle {
    opacity: 0.3;
    stroke: #f8aa28;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    transition: all 0.5s ease-in-out;
  }

  &--triangle {
    stroke: #000;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
}

.hand__btn {
  @include size(6.3rem, 6.5rem);
  @include flex(row, center, center);
  cursor: pointer;
  filter: drop-shadow(-0.2rem 0 0.5rem #000);
  transition: all 0.5s ease;

  svg {
    height: 5rem;
    opacity: 1;
    width: 5rem;
  }

  &--top {
    background: url('../../assets/img/button-top.png') no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    transform: rotate(-90deg);
  }

  &--bottom {
    background: url('../../assets/img/button-bottom.png') no-repeat;
    background-size: cover;
    transform: rotate(90deg);
  }

  &--disabled {
    cursor: default;
    filter: brightness(0.5);
    opacity: 0.5;
  }

  &:hover:not(.hand__btn--disabled) {
    .hand__controls-svg--triangle {
      animation: nudge 0.7s ease-in-out;
      opacity: 1;
      stroke: #f8aa28;
      stroke-dashoffset: 0;

      @keyframes nudge {
        0% {
          transform: translateX(0);
        }

        30% {
          transform: translateX(-0.5rem);
        }

        50% {
          transform: translateX(0.5rem);
        }

        70% {
          transform: translateX(-0.2rem);
        }

        100% {
          transform: translateX(0);
        }
      }
    }

    .hand__controls-svg--circle {
      opacity: 1;
      stroke-dashoffset: 0;
    }
  }
}
