.header {
  @include flex(row, space-around, center);
  background: $tables-bg;
  height: 17rem;
  width: calc(100vw - 37rem);
  position: relative;

  .header__title {
    @include title-settings('../../assets/img/title-header.png');
  }

  .header__overlay {
    @include block-background-overlay;
    width: 100%;
  }

  .header__table {
    @include area-border('../../assets/img/border-top.png');
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.player-container {
  @include flex(column, space-around, center);
  border: solid 0.1rem #000;
  height: 14rem;
  width: 23.5rem;
}

.head-row {
  @include flex(row, space-around, center);
  height: 2.2rem;
  width: 100%;

  &__name {
    font-size: 2rem;
    height: 100%;
    text-align: center;
    width: 40%;
    /* background: url('../../assets/img/player-container/player-title.png');*/
  }
}

.cards-container {
  @include flex(row, space-around, center);
  height: 100%;
  padding: 0.3rem;
  width: 20%;

  &__icon {
    font-size: 2rem;
    height: 100%;
  }

  &__counter {
    font-size: 2rem;
    height: 100%;
  }
}

.active-zone-row {
  @include flex(row, space-around, center);
  height: 2.2rem;
  width: 100%;

  &__red {
    @include header-active-card;
    background-color: #f00;
  }

  &__green {
    @include header-active-card;
    background-color: #14ef10;
  }

  &__blue {
    @include header-active-card;
    background-color: #1713e7;
  }

  &__purple {
    @include header-active-card;
    background-color: #d729db;
  }

  &__yellow {
    @include header-active-card;
    background-color: #edf117;
  }
}

.recources-row {
  @include flex(row, space-around, center);
  height: 4.2rem;
  width: 100%;
}

.recource-container {
  @include flex(column, space-around, center);
  height: 100%;
  padding: 0.3rem;
  width: 16%;

  &__icon {
    font-size: 1.6rem;
    height: 50%;
  }

  &__counter {
    font-size: 1.6rem;
    height: 50%;
  }
}
