.header {
  @include flex(row, space-around, center);
  background: $tables-bg;
  height: 17rem;
  width: calc(100vw - 37rem);
  position: relative;

  .header__title {
    @include title-settings('../../assets/img/title-header.png');
  }

  .header__overlay {
    @include block-background-overlay;
    width: 100%;
  }

  .header__table {
    @include area-border('../../assets/img/border-top.png');
    @include flex(row, center, flex-end);
    width: 100%;
    height: 100%;

    &__wrapper {
      @include flex(row, space-between, flex-end);
      width: auto;
      height: 100%;
      margin-left: 2.5rem;
      overflow-x: auto;
      position: relative;
      z-index: 2;
      color: rgb(226, 226, 226);
    }
  }
}

.player-container {
  @include flex(column, space-between, center);
  height: 14rem;
  min-width: 30rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.5),
    0 0 3px 1px rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin: 0 0.5rem 0.5rem 0.5rem;

  &__hidden {
    display: none;
  }
}

.head-row {
  @include flex(row, space-around, center);
  height: 3.5rem;
  width: 100%;

  &__name {
    font-size: 2rem;
    height: 100%;
    text-align: center;
    width: 40%;
    background: url('../../assets/img/player-container/player-title.png');
    background-size: cover;
    font-family: 'Caesar';
    @include flex;
    padding-top: 0.5rem;
    color: rgb(255, 208, 0);
  }
}

.cards-container {
  @include flex(row, space-around, center);
  height: 100%;
  padding: 0.3rem;
  width: 17%;
  border: solid 0.1rem #ee8823;
  border-radius: 1rem;
  background: #3b1105;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5),
    2px 0 3px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;

  &:not(:last-child):hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__icon {
    font-size: 2rem;
  }

  &__counter {
    font-size: 2rem;
  }
}

.active-zone-row {
  @include flex(row, space-around, center);
  height: 2.2rem;
  width: 100%;

  div:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  &__red {
    @include header-active-card;
    background-color: #c50610;
  }

  &__green {
    @include header-active-card;
    background-color: #079407;
  }

  &__blue {
    @include header-active-card;
    background-color: #3e3188;
  }

  &__purple {
    @include header-active-card;
    background-color: #830678;
  }

  &__yellow {
    @include header-active-card;
    background-color: #dda200;
  }
}

.recources-row {
  @include flex(row, space-around, center);
  height: 4.2rem;
  width: 100%;
}

.recource-container {
  @include flex(column, space-around, center);
  height: 100%;
  padding: 0.3rem;
  width: 15%;
  border: solid 0.1rem #ee8823;
  border-radius: 1rem;
  background: #3b1105;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5),
    2px 0 3px 1px rgba(0, 0, 0, 0.5);

  &__icon {
    font-size: 1.6rem;
    height: 50%;
  }

  &__counter {
    font-size: 1.6rem;
    height: 50%;
  }
}
