html {
  font-size: 10px;

  @media (max-height: 900px) {
    font-size: 9px;
  }

  @media (max-height: 750px) {
    font-size: 8px;
  }

  @media (max-height: 650px) {
    font-size: 7px;
  }
}

body {
  font-family: 'Fira Sans Condensed';
  font-size: 2rem;
  height: auto;
  width: 100vw;

  ::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: #ffa468;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(119, 38, 3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 127, 8);
  }
}

.active {
  border: 0.2rem solid #ee8823;
  box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.5), 0 0 8px 4px #ee8823 !important;
}

.inactive {
  opacity: 0.4;
}

button,
input {
  font-family: 'Fira Sans Condensed';
}
