html {
  font-size: 10px;

  @media (max-height: 900px) {
    font-size: 9px;
  }

  @media (max-height: 750px) {
    font-size: 8px;
  }

  @media (max-height: 650px) {
    font-size: 7px;
  }
}

body {
  font-family: 'Fira Sans Condensed';
  font-size: 2rem;
  height: auto;
  width: 100vw;

  ::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: #ffa468;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(119, 38, 3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 127, 8);
  }
}

button,
input {
  font-family: 'Fira Sans Condensed';
}
