.chat-log {
  background: $tables-bg;
  border: 1px solid rgba(33, 14, 6, 1);
  height: calc(100vh - 59.5rem);
  position: absolute;
  top: 56.5rem;
  transition: all 0.5s linear;
  width: 30rem;

  &--full-screen {
    height: calc(100vh - 13.5rem);
    top: 10.5rem;

    .chat-log__tab-content {
      height: calc(100vh - 19.5rem);
    }
  }
}

#chat-block,
#log-block {
  display: none;
}

.chat-log__tab,
.chat-log__tab-title {
  background-color: #5b3a29;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  box-shadow: 0.3rem -0.35rem 0.4rem 0.1rem rgba(46, 1, 1, 0.6) !important;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 8rem;
}

.chat-log__tab-title {
  cursor: pointer;
}

.chat-log__tab :checked + .chat-log__tab-title {
  background-color: #6e4028;
  position: relative;
  top: 1px;
  z-index: 18;
}

.chat-log__tab-content {
  @include flex(column, flex-start, flex-start);
  background-color: #6e4028;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0.3rem -0.1rem 0.4rem 0.1rem rgba(46, 1, 1, 0.6);
  color: rgb(245, 222, 179);
  font-weight: 100;
  height: calc(100vh - 65.9rem);
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 0 1rem;
  position: absolute;
  text-align: start;
  transition: height 0.5s linear;
  width: 100%;
  z-index: -1;
}

.chat-log__tab :checked ~ .chat-log__tab-content {
  opacity: 1;
  z-index: 11;
}

.chat-log__form {
  @include flex(row, flex-start, center);
  background: $tables-bg;
  bottom: 0;
  height: 3rem;
  padding-top: 0.2rem;
  position: absolute;
  width: 100%;
}

.chat-log__input {
  background: #e2e2e2;
  border: 0;
  border-radius: 0.8rem;
  font-family: 'Fira Sans Condensed';
  height: 2.5rem;
  margin-left: 0.5rem;
  outline: none;
  padding: 0 0.5rem;
  width: 19.5rem;
}

.chat-log__btn {
  background: #3b1105;
  border: solid 0.1rem #ee8823;
  border-radius: 0.8rem;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5),
    2px 0 3px 1px rgba(0, 0, 0, 0.5);
  color: #e2e2e2;
  font-family: 'Fira Sans Condensed';
  height: 2.5rem;
  margin-left: 0.5rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  width: 9rem;
}

.chat-log__spread {
  background-color: #e2e2e2;
  background-image: url('/assets/icons/aside-spread-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  cursor: pointer;
  height: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transform: rotate(0deg);
  transition: rotate 0.5s;
  width: 2rem;

  &--open {
    transform: rotate(180deg);
  }
}
