.extra-cards {
  @include size(30rem, 23rem);
  @include flex(row, space-between, center);
}

.extra-cards__special-block {
  @include size(14.5rem, 23rem);
  @include flex(column, flex-start, center);
  position: relative;
}

.extra-cards__special-title {
  @include size(100%, 3rem);
  @include flex(column, center, center);
  bottom: 3.2rem;
  color: #fff;
  font-family: 'Caesar';
  font-size: 2.5rem;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  z-index: 2;
}

.extra-cards__special-cards {
  @include flex(column, center, center);
  @include size(100%, 25rem);
  background-image: url('/assets/img/spec-title.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));

  &:hover .hover-btn {
    opacity: 1;
  }
}

.extra-cards__leadership-block {
  @include size(14.5rem, 23rem);
  @include flex(column, flex-start, center);
  position: relative;
}

.extra-cards__leadership-title {
  @include size(100%, 3rem);
  @include flex(column, center, center);
  bottom: 3.2rem;
  color: #fff;
  font-family: 'Caesar';
  font-size: 2.5rem;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  z-index: 2;
}

.extra-cards__leadership-cards {
  @include flex(column, center, center);
  @include size(100%, 25rem);
  background-image: url('/assets/img/lead-title.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));

  &:hover .hover-btn {
    opacity: 1;
  }
}
