.hover-btn {
  background: rgba(59, 17, 5, 1);
  border: solid 0.1rem #ee8823;
  border-radius: 1rem;
  border-radius: 0.8rem;
  bottom: 0;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5),
    2px 0 3px 1px rgba(0, 0, 0, 0.5);
  color: rgb(226, 226, 226);
  font-size: 1.5rem;
  opacity: 0;
  padding: 0.6rem 0.8rem;
  position: absolute;
  transition: 0.3s linear;
  z-index: 10;

  &:hover {
    transform: scale(1.1);
  }
}
