.special-cards {
  @include flex(column, center, center);
  @include size(100%, 100vh);
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10000;

  &--hidden {
    display: none;
  }
}

.special-cards__first-line,
.special-cards__second-line,
.special-cards__btn-line {
  @include flex(row, center, center);
  @include size(100%, auto);

  > div {
    margin: 1rem;
  }
}

.special-cards__card {
  @include flex(column, center, center);
  @include size(30rem, 20rem);
  background-color: rgb(202, 191, 189);
  border-radius: 1rem;
  font-size: 10rem;
}

.special-cards__btn {
  @include size(15rem, 5rem);
  background-color: rgba(141, 137, 137, 0.8);
  border-radius: 1rem;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  transition: 0.3s linear;

  &:hover {
    background-color: rgba(141, 137, 137, 1);
    transform: scale(1.05);
  }
}
