.age-decks {
  @include flex(column, center, center);
  @include size(100%, 100vh);
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10000;

  &--hidden {
    display: none;
  }
}

.age-decks__first-line,
.age-decks__second-line,
.age-decks__third-line,
.age-decks__btn-line {
  @include flex(row, center, center);
  @include size(100%, auto);
}

.age-decks__btn {
  @include size(15rem, 5rem);
  background-color: rgba(141, 137, 137, 0.8);
  border-radius: 1rem;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  transition: 0.3s linear;

  &:hover {
    background-color: rgba(141, 137, 137, 1);
    transform: scale(1.05);
  }
}
