// abstract
@import './abstracts/constants';
@import './abstracts/mixins';

// base
@import './base/base';
@import './base/normalize';

// components
@import './components/card';
@import './components/menu';
@import './components/intro';
@import './components/ageDeck';
@import './components/closeModalBtn';
@import './components/modal';
@import './components/recycleModal';
// components__aside
@import './components/aside/infoTable';
@import './components/aside/hoverBtn';
@import './components/aside/currentDeck';
@import './components/aside/ageDecks';
@import './components/aside/extraCards';
@import './components/aside/Chatlog';
@import './components/aside/leadershipCards';
@import './components/aside/specialCards';

// layouts
@import './layouts/playerTable';
@import './layouts/header';
@import './layouts/aside';
@import './layouts/activeZone';
@import './layouts/hand';

.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused !important;
}

@font-face {
  font-family: Caesar;
  src: url('../../assets/fonts/caesar.otf');
}

[hidden] {
  display: none !important;
}
